@font-face {
    font-family: "Inter";
    src: url("./fonts/ttf/Inter-Regular.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}
.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #333333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
h1 {
  text-align: center;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #333333;
  }
}
.graphbox1 {
  position: absolute;
  top: 695px;
  left:20px;
  width: 423px;
  height: 300px;
  background-color: #272727;
  border-radius: 20px;
  box-shadow: -3px 3px 5px 2px #222222;
  display: flex;
  overflow: hidden;
}
.graphbox2 {
  position: absolute;
  top: 360px;
  left:20px;
  width: 423px;
  height: 300px;
  background-color: #272727;
  border-radius: 20px;
  box-shadow: -3px 3px 5px 2px #222222;
  display: flex;
  overflow: hidden;
}
.graphbox3 {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 423px;
  height: 300px;
  background-color: #272727;
  border-radius: 20px;
  box-shadow: -3px 3px 5px 2px #222222;
  display: flex;
  overflow: hidden;
}
.graphbox4 {
  position: absolute;
  top: 25px;
  left:506px;
  width: 423px;
  height: 300px;
  background-color: #272727;
  border-radius: 20px;
  box-shadow: -3px 3px 5px 2px #222222;
  display: flex;
  overflow: hidden;
}
.graphbox5 {
  position:absolute;
  top: 25px;
  left: 992px;
  width: 423px;
  height: 300px;
  background-color: #272727;
  border-radius: 20px;
  box-shadow: -3px 3px 5px 2px #222222;
  display: flex;
  overflow: hidden;
}
.graphbox6 {
  position:absolute;
  top: 25px;
  left: 1477px;
  width: 423px;
  height: 300px;
  background-color: #272727;
  border-radius: 20px;
  box-shadow: -3px 3px 5px 2px #222222;
  display: flex;
  overflow: hidden;
}
.graphbox7 {
  position:absolute;
  top: 360px;
  left: 1477px;
  width: 423px;
  height: 300px;
  background-color: #272727;
  border-radius: 20px;
  box-shadow: -3px 3px 5px 2px #222222;
  display: flex;
  overflow: hidden;
}
.graphbox8 {
  position:absolute;
  top: 695px;
  left: 1477px;
  width: 423px;
  height: 300px;
  background-color: #272727;
  border-radius: 20px;
  box-shadow: -3px 3px 5px 2px #222222;
  display: flex;
  overflow: hidden;
}
.titleBox {
  position:absolute;
  top: 950px;
  left: 506px;
  width: 909px;
  height: 60px;
  background-color: #272727;
  border-radius: 20px;
  box-shadow: -3px 3px 5px 2px #222222;
}
.mainData {
  position:absolute;
  top: 345px;
  left: 992px;
  width: 423px;
  height: 585px;
  background-color: #3F3F3F;
  border-radius: 20px;
  box-shadow: -3px 3px 5px 2px #2c2c2c;
}
.subData {
  position: absolute;
  top: 345px;
  left: 506px;
  width: 423px;
  height: 150px;
  background-color: #3F3F3F;
  border-radius: 20px;
  box-shadow: -3px 3px 5px 2px #2c2c2c;
}
.subData2 {
  position: absolute;
  top: 515px;
  left: 506px;
  width: 423px;
  height: 150px;
  background-color: #3F3F3F;
  border-radius: 20px;
  box-shadow: -3px 3px 5px 2px #2c2c2c;
}

